<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>758231688007-t6qbb2a2acrirf84n840bonb2it384uh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.758231688007-t6qbb2a2acrirf84n840bonb2it384uh</string>
	<key>API_KEY</key>
	<string>AIzaSyC8zHXpFQsfh_k4tXMkw8-5sfwWSZw-Vw8</string>
	<key>GCM_SENDER_ID</key>
	<string>758231688007</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rodrigobuendia.Emep</string>
	<key>PROJECT_ID</key>
	<string>emep-e39a4</string>
	<key>STORAGE_BUCKET</key>
	<string>emep-e39a4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:758231688007:ios:cf46e5c322e0d3fa702262</string>
	<key>DATABASE_URL</key>
	<string>https://emep-e39a4.firebaseio.com</string>
</dict>
</plist>